*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(26, 25, 26);
    font-family: 'Chivo Mono', monospace;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
main p{
    font-size: 2rem;
    color: rgb(253, 253, 253);
    text-shadow: 2px 1px 20px #9d16a6;
}